{% extends 'base.html.twig' %}

{% block title %}Edit ExpectedResults{% endblock %}

{% block body %}
    <h1>Edit ExpectedResults</h1>

    {{ include('expected_results/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('expected_results_index') }}">back to list</a>

    {{ include('expected_results/_delete_form.html.twig') }}
{% endblock %}