{% extends 'base.html.twig' %}

{% block title %}Edit Scoreboard{% endblock %}

{% block body %}
    <h1>Edit Scoreboard</h1>

    {{ include('scoreboard/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('scoreboard_index') }}">back to list</a>

    {{ include('scoreboard/_delete_form.html.twig') }}
{% endblock %}