{% extends 'base.html.twig' %}

{% block title %}Registration{% endblock %}


{% block body %}


    <h1>Sign up!</h1>

    {{ include('registration/_form.html.twig') }}

    <a href="/">back to homepage</a>


{% endblock %}