{% extends 'base.html.twig' %}

{% block title %}{{ 'user.register' | trans }}{% endblock %}


{% block body %}


    <h1>{{ 'user_register.sing_up' | trans }}</h1>

    {{ include('registration/_form.html.twig') }}

    <a href="/">{{ 'home.back' | trans }}</a>


{% endblock %}