
{% extends 'base.html.twig' %}

{% block title %}{{ 'user.resetpass' | trans }}{% endblock %}

{% block body %}
    <h1>{{ 'user.resetpass' | trans }}</h1>

    {{ include('registration/_form1.html.twig', {'button_label': 'Reset password'}) }}

    <a href="/">{{ 'home.back' | trans }}</a>


{% endblock %}