<form method="post" action="{{ path('expected_results_delete', {'id': expected_result.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ expected_result.id) }}">
    <button class="btn">{{ 'button_expected_results.delete' | trans }}</button>
</form>