{% extends 'base.html.twig' %}

{% block title %}Edit TypeofWeight{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script>
        document.getElementById("btn_save").onclick = function() {myFunction()};
        function myFunction() {
            document.getElementById("message").innerHTML="Type of weight has been updated";
        }
    </script>
{% endblock %}
{% block body %}
    <h1>Edit TypeofWeight</h1>
    <p id="message"></p>
    {{ include('typeof_weight/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('typeof_weight_index') }}">back to list</a>

    {{ include('typeof_weight/_delete_form.html.twig') }}
{% endblock %}