{% extends 'base.html.twig' %}

{% block title %}{{ 'errorAddScore.title' | trans }}{% endblock %}
{% block javascripts %}
    {{ parent() }}

{% endblock %}
{% block body %}
    <h1>{{ 'errorAddScore.title' | trans }}</h1>

    <p> {{ 'errorAddScore.p' | trans }} </p>
{% endblock %}
