{% extends 'base.html.twig' %}

{% block title %}New TypeofWeight{% endblock %}

{% block body %}
    <h1>Create new TypeofWeight</h1>

    {{ include('typeof_weight/_form.html.twig') }}

    <a href="{{ path('typeof_weight_index') }}">back to list</a>
{% endblock %}