{% extends 'base.html.twig' %}

{% block title %}Edit Tournament{% endblock %}

{% block body %}
    {% if is_granted ('ROLE_ADMIN') %}
    <h1>Edit Tournament</h1>

    {{ include('tournament/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('tournament_index') }}">back to list</a>

    {{ include('tournament/_delete_form.html.twig') }}
    {% else %}
        <p>You dont have permission</p>
        <a href="{{ path('tournament_index') }}">back to list</a>
    {% endif %}
{% endblock %}