{% extends 'base.html.twig' %}


{% block title %}Edit TypeOfEvent{% endblock %}
{% block javascripts %}


    <script>


        document.getElementById("btn_save").onclick = function() {myFunction()};

        function myFunction() {
            document.getElementById("message").innerHTML="Type of event has been updated";
        }


    </script>
{% endblock %}
{% block body %}

    <h1>Edit TypeOfEvent</h1>
    <p id="message"></p>

    {{ include('type_of_event/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('type_of_event_index') }}">{{ 'type.back' | trans }}</a>

    {{ include('type_of_event/_delete_form.html.twig') }}
{% endblock %}