{% extends 'base.html.twig' %}

{% block title %}Scoreboard{% endblock %}

{% block body %}
    <h1>Scoreboard</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Użytkownik</th>
                <td>{{ scoreboard.UserName }}</td>
            </tr>
            <tr>
                <th>Points</th>
                <td>{{ scoreboard.points }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('scoreboard_index') }}">back to list</a>

{% endblock %}