{% extends 'base.html.twig' %}

{% block title %}Scoreboard{% endblock %}

{% block body %}
    <h1>Scoreboard</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Miejsce</th>
                <td>{{ scoreboard.id }}</td>
            </tr>
            <tr>
                <th>Użytkownik</th>
                <td>{{ scoreboard.username }}</td>
            </tr>
            <tr>
                <th>Punkty</th>
                <td>{{ scoreboard.points }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('scoreboard_index') }}">back to list</a>

{% endblock %}